*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: #020013;
    color: rgb(233, 233, 233);
}

#section1{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    h1{
     text-align: center;   
     margin-bottom: 24px;
    }

    .cardContainer{
        display:flex;
    
        padding: 16px;
        flex-wrap: wrap;
        gap: 10px;

        a{
            text-decoration: inherit;
            color: inherit;
            .card{
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 12px;
            width: 200px;
            height: 200px;
            background-color: rgb(13, 13, 61);
            border: 1px solid rgb(95, 94, 94);
            border-radius: 12px;
            cursor: pointer;
            transition: all .3s ease;
            h2{
                text-align: center;
            }

            p{
 color: rgb(168, 168, 168);
            }
            &:hover{
                background-color: rgb(33, 33, 83);
                transform: scale(1.02)
            }
        }
        }
    }
}
