html {
    scroll-behavior: smooth;
}

body {
    background-color: #020013;
    color: white;

    header {
        nav {
            padding: 30px 0 20px 100px;

            .backBtn {

                text-decoration: inherit;
                color: white;
                border-radius: 4px;
                display: inline;
                cursor: pointer;
                padding: 12px 20px;

                background-color: #382f836c;

                transition: all 0.3s ease;

                &:hover {
                    background-color: #372f83c9;
                }
            }
        }
    }

    main {
        .upBtn {
            visibility: hidden;
            position: fixed;
            bottom: 50px;
            right: 40px;
            background-color: #8d83e66c;
            border: none;
            color: white;
            font-weight: bold;

            width: 50px;
            height: 50px;
            border-radius: 100%;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: #372f83c9;
            }
        }

        .show {
            visibility: visible;
        }

        section {
            max-width: 1280px;
            width: 100%;
            margin: 0 auto;

            h1 {
                text-align: center;
            }

            p {
                color: rgb(168, 168, 168);
            }



            .playground {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 30px;
                background-color: #0b0920;
                min-height: 60vh;
                border-radius: 8px;

                #chart {
                    position: relative;
                    max-width: 700px;
                    width: 80%;
                    height: 400px;
                    background-color: rgb(206, 206, 206);
                    border-radius: 4px;

                    .wrapper {
                        position: absolute;
                        bottom: 0;
                        text-align: center;

                        .bar {
                            position: absolute;
                            bottom: 0;
                            background-color: rgb(47, 57, 78);
                            transform: scaleY(0);
                            width: 40px;
                            transform-origin: bottom;
                        }

                        .label{
                            position: absolute;
                            bottom: -28px;
                            width: 100%;
                        }
                    }
                }


            }

        }
    }

}